body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(photos/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 90px;
    border-radius: 10px;
}
main {
    background-color: rgb(223, 180, 180);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
.logo {
width: 100px;
border-radius: 10px;
float: left;
position: relative;
top: -5px;
left: 2.5px;
}
.signin{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f86f6f 0%, #861d00 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    
}
.signin:hover {
    background-color: #45a049; /* Lighter Green */
    color: yellow; /* Change text color */
}
.signup{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f66a65 0%, #6e0000 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
.signup:hover {
    background-color: #45a049; /* Lighter Green */
    color: yellow; /* Change text color */
}
.popup{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginpopup{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupcontent{
    border-radius: 5px;
    width: 350px;
    background: white;
    padding: 50px;
    position: fixed;
}

.loginpopupcontent{
    border-radius: 5px;
    width: 350px;
    background: white;
    padding: 50px;
    position: fixed;
}

input{
    margin: 20px auto;
    display: inline;
    padding: 8px;
    border-radius: 5px;
    border-color:#f66a65;

}
.xbtn {
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    background: none; /* Remove default background */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    top:10px;
    bottom: 10px;

}

.loginxbtn {
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    background: none; /* Remove default background */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    top: 10px;
    bottom: 10px;

}

.xbtn img {
    /* display: flex;  */
    width: 25px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    left: 300px;
    top: -12px;
    position: absolute;
}

.loginxbtn img {
    width: 25px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    top: -12px;
    left: 300px;
    position: absolute;
}

.popup h2{
    color: #000000;
}
.loginpopup h2{
    color: #000000;
}
.SubmitBtn{
    display: flex; /* Remove default spacing */
    height: 25px; /* Maintain aspect ratio */
    width: 78px;
    font-size: large;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to right, #f86f6f 0%, #861d00 100%);
    color: rgb(228, 227, 227);
    border-radius: 8px;
    top: 20px;
    left: 140px;

}
.LogInSubmitBtn{
    display: flex; /* Remove default spacing */
    height: 25px; /* Maintain aspect ratio */
    width: 78px;
    font-size: large;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to right, #f86f6f 0%, #861d00 100%);
    color: rgb(228, 227, 227);
    border-radius: 8px;
    top: 20px;
    left: 140px;

}
.PopUpLogo{
    width: 100px;
    border-radius: 10px;
    position: absolute;
    bottom: 375px;
    left: 20px;
}
.LogInPopUpLogo{
    width: 100px;
    border-radius: 10px;
    position: absolute;
    bottom: 225px;
    left: 20px;
}
.HomeLink{
    font-size: 50px;
}
.error{
    background-color: #f66a65;
    border-radius: 5px;
    border-color: #6e0000;
    color:#6e0000;
    bottom: 440px;
    position: relative;
}
.logout{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f86f6f 0%, #861d00 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}
.logout:hover {
    background-color: #45a049; /* Lighter Green */
    color: yellow; /* Change text color */
}
.Loginerror{
    background-color: #f66a65;
    border-radius: 5px;
    border-color: #6e0000;
    color:#6e0000;
    bottom: 285px;
    position: relative;
}