body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 90px;
    border-radius: 10px;
}
main {
    background-color: rgb(223, 180, 180);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
.logo {
width: 100px;
border-radius: 10px;
float: left;
position: relative;
top: -5px;
left: 2.5px;
}
.signin{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f86f6f 0%, #861d00 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    
}
.signin:hover {
    background-color: #45a049; /* Lighter Green */
    color: yellow; /* Change text color */
}
.signup{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 20px;
     background-image: linear-gradient(to right, #f66a65 0%, #6e0000 100%);
     border: none;
     color: white;
     padding: 15px 32px;
     font-size: 16px;
     cursor: pointer;
    float: right;
}
.signup:hover {
    background-color: #45a049; /* Lighter Green */
    color: yellow; /* Change text color */
}
.popup{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.popupcontent{
    border-radius: 5px;
    width: 500px;
    background: white;
    padding: 50px;
    position: relative;
}
input{
    margin: 20px auto;
    display: inline;
    padding: 8px;
    border-radius: 5px;
    border-color:#f66a65;

}
.xbtn {
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    background: none; /* Remove default background */
    cursor: pointer; /* Change cursor to pointer */

}

.xbtn img {
    display: flex; /* Remove default spacing */
    width: 25px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    position: absolute;
    left: 586px;
    bottom: 256px;
}